
@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-size: 14px;
@logo-width: 50px;
@header-padding: 15px;
@container-max-width: 1280px;
@grid-breakpoints-sm: 480px;
@grid-breakpoints-lg: 960px;
@grid-breakpoints-xl: 1200px;
@blue:#007bc1;
@dark-blue:#004a75;

@orange: #ff8000;
@dark-orange:#cc6600; 
@smoke-grey:#e5e5e5;
@white:#fff;
@black:#111;
@main-bg: @smoke-grey;
@main-container-bg: @main-bg;
@footer-container-bg: @dark-blue;
@footer-padding: 30px;
@footer-text-color: @white;

@section-title-y-margin: 30px;

@cookie-agreement-container-padding: 15px;

@jumbotron-bg: fadeout(@dark-blue,30%);
@jumbotron-text-color: @white;
@jumbrotron-height: 700px;

@feature-item-per-row-xs: 1;
@feature-item-per-row-sm: 2;
@feature-item-per-row-lg: 3;
@feature-item-padding: 15px;
@feature-item-border: 1px solid @feature-item-border-color;
@feature-item-border-color: darken(@smoke-grey, 15%);
@feature-item-min-height: 170px;

@newsletter-form-text-color: @white;
@newsletter-form-width: 500px;
@newsletter-form-padding: 15px;
@newsletter-form-action-padding: 10px;
@newsletter-form-background: fadeout(@blue, 25%);
@newsletter-input-height: 40px;

@button-padding: 10px 20px;
@button-color: @white;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: @font-size;
}    

.header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: @header-padding;
    
    .logo{
        & > img{
            width: @logo-width;
        }
    }
}
main{
    background-color: @main-container-bg;
    position: relative;
}
h1,h2,h3,h4.h5{
    font-weight: 500;
}

footer{
    text-align: center;
    background-color: @footer-container-bg;
    padding: @footer-padding;
    color: @footer-text-color;
}

img{
    max-width: 100%;
}
.cookie-agreement{
    background-color: @main-bg;
    position: sticky;
    top:0;
    z-index: 10;
    padding: @cookie-agreement-container-padding;
    &--body{
        position: relative;
    }
    @media(min-width: @grid-breakpoints-sm){
        &--action{
            position: absolute;
            right: 0;
            top: 0;
        }
        &--text{
            margin: 0;
            width: 80%;
        }
    }


}
.jumbotron{
    position: relative;
    color: @jumbotron-text-color;
    height: @jumbrotron-height;
    overflow: hidden;
    &::after{
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: @jumbotron-bg;
    }
    &--content{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        z-index: 2;
    }
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 100%;
        width: auto;
        @media(min-width: @grid-breakpoints-lg){
            height: auto;
            width: 100%;
        }
    }
}
.section{
    &-title-container{
        margin-top: @section-title-y-margin;
        margin-bottom: @section-title-y-margin;
    }
    &--title,
    &--subtitle{
        text-align: center;
    }
}

.feature-item{
    padding: @feature-item-padding/2;
    &--icon{
        float: right;
    }
    &-container{
        display: flex;
        flex-wrap: wrap;
    }
    &--content{
        border: @feature-item-border;
        padding: @feature-item-padding;
        min-height: @feature-item-min-height;
    }
    
    width: 100%/@feature-item-per-row-xs;
    @media(min-width: @grid-breakpoints-sm){
        width: 100%/@feature-item-per-row-sm;
    }
    @media(min-width: @grid-breakpoints-lg){
        width: 100%/@feature-item-per-row-lg;
    }
}
.newsletter-form{
    position: fixed;
    padding: @newsletter-form-padding;
    bottom: 0;
    left: 0;
    color: @newsletter-form-text-color;
    width: 100%;
    background: @newsletter-form-background;
    z-index: 3;

    @media(min-width: @grid-breakpoints-sm){
        width: @newsletter-form-width;
    }
    .section--title,
    .section--subtitle{
        text-align: left;
    }
    &--form{
        display: flex;
        flex-wrap: wrap;
    }
    &--form-control{
        flex-basis: 100%;
        height: @newsletter-input-height;
        @media(min-width: @grid-breakpoints-sm){
            flex-basis: 75%;
        }
        input{
            height: 100%;
            width: 100%;
        }
    }
    &--action{
        flex-basis: 100%;
        .button{
            width: 100%;
            margin-top: @newsletter-form-action-padding;
            padding: @newsletter-form-action-padding;
        }
        @media(min-width: @grid-breakpoints-sm){
            flex-basis: 25%;
            .button{
                margin-left: @newsletter-form-action-padding;
                margin-top: 0;
            }
        }
    }
}
.newsletter--action{
    float: right;
    color: @newsletter-form-text-color;
}

.container(){
    margin-left: auto;
    margin-right: auto;
}
.container{
    .container();
    max-width: @container-max-width;
    &__half{
        .container();
        max-width: @container-max-width/2;
    }
}

.button{
    text-align: center;
    padding: @button-padding;
    display: inline-block;
    color: @button-color;
    text-decoration: none;
    transition: background .2s ease-out;
}
.make_button(@color){
    .button__@{color} when(iscolor(@@color)){
        background-color: @@color;
        &:hover{
            background-color: darken(@@color, 15%);
        }
    }
    .button__outline-@{color} when(iscolor(@@color)){
        border: 1px solid @@color;
        &:hover{
            background-color: @@color;
            & when(@color = white){
                color: @black;
            }
        }
    }
    .button__hover-text-@{color} when(iscolor(@@color)){
        &:hover{
            color: @@color !important;
        }
    }
}
.colored-button(@colored-btn-scheme; @i:1) when(@i <= length(@colored-btn-scheme)){
    .make_button(extract(@colored-btn-scheme,@i));
    .colored-button(@colored-btn-scheme; @i+1);
}.colored-button(orange blue white );